<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="player">
    <meta name="twitter:player" content="{{ video_url }}">
    <meta name="twitter:player:width" content="1280">
    <meta name="twitter:player:height" content="720">
</head>
<body>
    <p>Redirecting in 5 seconds...</p>
    <video width="320" height="240" controls>
  <source src="{{ video_url }}" type="video/mp4">

        </video>
    <script>
        setTimeout(function() {
            window.location.href = "/redirect/";
        }, 5000);
    </script>
</body>
</html>